@{
    ViewData["BackgroundImage"] = Url.Content("~/images/BGevent1.jpg");
}


<div style=" justify-content: center; align-items: center; text-align: center; ">
    

    <div>
        <h1 class="display-3 fw-bold" style="color: white">Welcome to EventEase!</h1>
        <p class="lead" style="color: white">Plan, book, and manage your events easily!</p>

        <div class="mt-4">
            <a href="/Venue" class="btn btn-warning btn-lg me-3">Explore Venues</a>
            <a href="/Event" class="btn btn-light btn-lg me-3">View Events</a>
            <a href="/Bookings" class="btn btn-info btn-lg">Make a Booking</a>
        </div>
    </div>
</div>
